.catfrom7c
      {
        width: 200px;
        height: 200px;
        /* Мы выбираем объект ковер, это означает что картинка ложится на заданный розмер */
        object-fit: cover;
         /* Мы выбираем объект то есть картинку и направляем ее в позицию которую хотим */
         object-position: center; 
        border-radius: 100px;
      }